fastapi
uvicorn
pandas
joblib
pydantic
huggingface-hub
scikit-learn
redis
python-jose[cryptography]
passlib[bcrypt]
python-multipart
prometheus-client
prometheus-fastapi-instrumentator
catboost
lightgbm
xgboost